@model BlockHistoryViewModel;

<div class="d-none d-md-block">
    <table class="table" id="table-data">
        <thead>
            <tr>
                @*<th style="width:80px !important;background-color: #ededed !important;"><input type="checkbox" id="checkall" onclick="oncheck()" style="height: 18px;width: 18px;" /></th>*@
                <th style="background-color: #ededed !important;color: rgb(73, 73, 73);font-weight:500;">Patient Name</th>
                <th style="background-color: #ededed !important;color: rgb(73, 73, 73);font-weight:500;">Phone Number</th>
                <th style="background-color: #ededed !important;color: rgb(73, 73, 73);font-weight:500;">Email</th>
                <th style="background-color: #ededed !important;color: rgb(73, 73, 73);font-weight:500;">Created Date</th>
                <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;background-color: #ededed !important;">Notes</th>
                <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;background-color: #ededed !important;">Active</th>
                <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;background-color: #ededed !important;">Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model.Query)
        {
            <tr>
                @*<td><input class="checkboxes" type="checkbox" style="height: 18px;width: 18px;" value="@item.RequestWiseFileId" /></td>*@
                <td class="newtd">
                    @item.FirstName
                </td>
                <td class="newtd">@item.PhoneNumber</td>
                <td class="newtd">@item.Email</td>
                <td class="newtd">@item.CreatedDate</td>
                <td class="newtd">@item.Reason</td>
                @* <td class="newtd"><input class="checkboxes" type="checkbox" asp-for="@item.IsActive" style="height: 18px;width: 18px;" value="@item.IsActive" /></td> *@
                <td class="newtd">
                    <input type="checkbox" 
                        style="height: 18px;width: 18px;" 
                        class="checkboxes" 
                        id="isActive-@item.BlockRequestId" @(item.IsActive == true ? "checked" : "") />
                </td>
                <td class="newtd d-flex">
                    <a class="link" asp-action="UnBlock" asp-controller="AdminDashboard" asp-route-id="@item.BlockRequestId">
                        <span>Unblock</span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="d-block d-md-none">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        @foreach (var item in Model.Query)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading@(item.RequestId)">
                    <button class="accordion-button collapsed main-accordion-div" style="background-color:#E5F2F8 !important;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse@(item.RequestId)" aria-expanded="false"
                            aria-controls="flush-collapse">
                        <div class="main-accordion-sub-div">
                            <span style="color:black;font-size:15px;"> @item.FirstName</span>
                            <span style="margin-top:20px;color:black;font-size:15px;">
                                @item.Email
                            </span>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapse@(item.RequestId)" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading@(item.RequestId)" data-bs-parent="#accordionFlushExample"
                     style="position: relative;">
                    <div class="accordion-body accordion-main-body" style="background-color:#E5F2F8 !important;">
                        <div class="accordian-items">
                            <div class="d-inline-block circle" style="border:1px solid rgb(0, 204, 255)!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin:2px;" width="10" height="10" fill="#00ccff" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                            </div>
                            <span class="accordian-item-text">Phone: <span class="accordian-item-text2">@item.PhoneNumber</span></span>
                        </div>
                        <div class="accordian-items">
                            <div class="d-inline-block circle" style="border:1px solid rgb(0, 204, 255)!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin:2px;" width="10" height="10" fill="#00ccff" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                </svg>
                            </div>
                            <span class="accordian-item-text">Created Date: <span class="accordian-item-text2">@item.CreatedDate</span></span>
                        </div>
                        <div class="accordian-items">
                            <div class="d-inline-block circle" style="border:1px solid rgb(0, 204, 255)!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin:2px;" width="10" height="10" fill="#00ccff" class="bi bi-journal-check" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                                </svg>
                            </div>
                            <span class="accordian-item-text">Notes: <span class="accordian-item-text2">@item.Reason</span></span>
                        </div>
                        <div class="accordian-items">
                            <div class="d-inline-block circle" style="border:1px solid rgb(0, 204, 255)!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00ccff" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </div>
                            <span class="accordian-item-text">Is Active: <span class="accordian-item-text2">@(item.IsActive == true ? "Yes" : " No")</span></span>
                        </div>
                        <div class="accordion-btns d-flex justify-content-end">
                            <a class="link2" asp-action="UnBlock" asp-controller="AdminDashboard" asp-route-id="@item.RequestId">
                                <span>Unblock</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="pagination">
    <span style="margin-right:10px;">Pages:</span>
    @if (Model.CurrentPage > 1)
    {
        <a style="color:#00ccff !important;" data-page="@(Model.CurrentPage - 1)">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a data-page="@i" class="@(i == Model.CurrentPage ? "pagination-active" : "")">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a style="color:#00ccff !important;" data-page="@(Model.CurrentPage + 1)">Next</a>
    }
</div>
<script>
    $(document).ready(function () {
        $('.pagination a').click(function (e) {
            e.preventDefault();
            //console.log("hiiiiiii");
            var page = $(this).attr('data-page');
            filter(page, 10);
        });
    });
</script>