@model IEnumerable<Hallodoc.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRepeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepeatUpto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Physician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRepeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatUpto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physician.PhysicianId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShiftId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShiftId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShiftId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
