@using HalloDoc.DataLayer.ViewModels;
@model AdminDashboardTableView;
@using static HalloDoc.EnumStatus;
@{
    ViewData["Title"] = "Admin-Dashboard";
}
@section Styles {
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<div id="body">
    <div class="shadow header-nav-container">
        <partial name="Toast" />
        <partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
    </div>
    <div style="display: flex;flex-direction: row;">

        <div id="main-div" style="width: 100%;">
            @* <partial name="AdminDashboardNavbar" /> *@
            <div id="main-sub-div" class="tabcontent">

                <div class="row flex-row justify-content-between main-tabs">
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state newState newState-active" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/new.png" id="newState" class="icon-size hide" alt="" />
                                <img src="~/SRS Screen Shorts/new_active.png" id="newState-active" class="icon-size" alt="" />
                                <span class="title-sub-div">NEW</span>
                            </div>
                            <span class="no">@Model.new_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill.svg" id="newState-img" class="caret" alt="" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state pendingState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/pending.png" id="pendingState" class="icon-size" alt="" />
                                <img src="~/SRS Screen Shorts/pending_active.png" id="pendingState-active"
                                     class="icon-size hide" alt="" />
                                <span class="title-sub-div">PENDING</span>
                            </div>
                            <span class="no">@Model.pending_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill1.svg" id="pendingState-img" class="caret hidden" alt="" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state activeState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/active.png" id="activeState" class="icon-size" alt="" />
                                <img src="~/SRS Screen Shorts/active_active.png" id="activeState-active" class="icon-size hide" alt="" />
                                <span class="title-sub-div">ACTIVE</span>
                            </div>
                            <span class="no">@Model.active_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill2.svg" id="activeState-img" class="caret hidden" alt="" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state concludeState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/conclude.png" id="concludeState" class="icon-size" alt="" />
                                <img src="~/SRS Screen Shorts/conclude_active.png" id="concludeState-active"
                                     class="icon-size hide" alt="" />
                                <span class="title-sub-div">CONCLUDE</span>
                            </div>
                            <span class="no">@Model.conclude_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill3.svg" id="concludeState-img" class="caret hidden" alt="" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state tocloseState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/toclose.png" id="tocloseState" class="icon-size" alt="" />
                                <img src="~/SRS Screen Shorts/toclose_active.png" id="tocloseState-active"
                                     class="icon-size hide" alt="" />
                                <span class="title-sub-div">TO CLOSE</span>
                            </div>
                            <span class="no">@Model.toclose_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill4.svg" id="tocloseState-img" class="caret hidden" alt="" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state unpaidState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/SRS Screen Shorts/unpaid.png" id="unpaidState" class="icon-size" alt="" />
                                <img src="~/SRS Screen Shorts/unpaid_active.png" id="unpaidState-active" class="icon-size hide" alt="" />
                                <span class="title-sub-div">UNPAID</span>
                            </div>
                            <span class="no">@Model.unpaid_count</span>
                        </div>
                        <img src="~/SRS Screen Shorts/caret-down-fill5.svg" id="unpaidState-img" class="caret hidden" alt="" />
                    </a>
                </div>
                <div class="dashboard-sub-div">
                    <h4 class="patient-title">Patients <span id="status-text">(New)</span></h4>
                    <div style="display: flex;">
                        <!--SendLink Button trigger modal -->
                        <a class=" textdeconone dashboard-button" data-bs-toggle="modal" data-bs-target="#sendLinkModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-send dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                            </svg>
                            <span class="dashboard-button-text">Send Link</span>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="sendLinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="saveButtonText fs-5" id="exampleModalLabel">Send mail to patient for submitting request</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-action="SendLink" asp-controller="AdminDashboard" method="post">
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInputF" placeholder="First Name" asp-for="FirstName">
                                                <label for="floatingInputF">First Name</label>
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="name" class="form-control" id="floatingPassword" placeholder="Last Name" asp-for="LastName">
                                                <label for="floatingPassword">Last Name</label>
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating login-fields mb-3" style="width:100%;margin-right:15px;">
                                                <input type="tel" class="form-control" id="phone" asp-for="PhoneNo" />
                                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputE" placeholder="Email" asp-for="Email">
                                                <label for="floatingInputE">Email</label>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer form-floating mb-3">
                                            <button type="submit" class="saveButton"><span class="saveButtonText">Save</span> </button>
                                            <button class="cancelButton" data-bs-dismiss="modal"><span class="cancelButtonText">Cancel</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <a class="dashboard-button textdeconone" asp-controller="AdminDashboard" asp-action="CreateRequest">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-journal-medical dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg>
                            <span class="dashboard-button-text">Create Request</span>
                        </a>

                        <button class="dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-reply-mirrored" viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z" />
                            </svg><span class="dashboard-button-text">Export</span>
                        </button>

                        <a asp-controller="AdminDashboard" asp-action="DownloadExcel" class="textdeconone dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-reply-all-mirrored" viewBox="0 0 16 16">
                                <path d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM9.3 10.386q.102 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z" />
                                <path d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028 4.012-2.954a.5.5 0 0 0 .106-.699" />
                            </svg><span class="dashboard-button-text">Export All</span>
                        </a>

                        <button class="dashboard-button" style="margin-right: 0px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-person-plus dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                            </svg><span class="dashboard-button-text">Request DTY Support</span>
                        </button>
                    </div>
                </div>
                <div class="dashboard-sub-div-2">
                    <div class="dashboard-sub-div-2-sub">
                        <div class="search-div">
                            <div class="search-div-sub">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                <input placeholder="Search Patients" class="searchPatientInput" type="text" id="search" onkeyup="searchFilter(this)" />
                            </div>
                            <div class="search-div-sub-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                <input placeholder="All Regions" type="text" class="searchPatientInput" id="region" />
                                <select class="searchPatientInput" id="region" onkeyup="searchFilter(this)" style="width: 100%;height: 54px;padding:8px;border:none;">
                                    <option value="0" selected hidden><span>All Region</span></option>
                                    @foreach (var item in Model.regions)
                                    {
                                    <option value="@item.RegionId"><span>@item.Name</span></option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="categories-div">
                            <div class="req-filter All filter-active" onclick="changeRequestor(this)">
                                <span class="text-secondary">All</span>
                            </div>
                            @* <button class="categories-div-all-button">All</button> *@
                            <a class="req-filter Patient" onclick="changeRequestor(this)">
                                <div class="categories-div-sub-sub" style="background-color: #10bb0d;"></div>
                                <span style="color:gray" class="categories-div-sub-text">
                                    Patient
                                </span>
                            </a>
                            <a class="req-filter Family" onclick="changeRequestor(this)">
                                <div class="categories-div-sub-sub" style="background-color: #ea902e;"></div>
                                <span style="color:gray" class="categories-div-sub-text">
                                    Family/Friend
                                </span>
                            </a>
                            <a class="req-filter Business" onclick="changeRequestor(this)">
                                <div class="categories-div-sub-sub" style="background-color: #e16479"></div>
                                <span style="color:gray" class="categories-div-sub-text">
                                    Business
                                </span>
                            </a>
                            <a class="req-filter Concierge" onclick="changeRequestor(this)">
                                <div class="categories-div-sub-sub" style="background-color: #047dc2;"></div>
                                <span style="color:gray" class="categories-div-sub-text">
                                    Concierge
                                </span>
                            </a>
                            <!-- <div class="categories-div-sub clickable-text" data-selected="false" tabindex="0">
                                <div class="categories-div-sub-sub" style="background-color: rgb(207, 18, 207);"></div>
                                <span style="color:gray" class="categories-div-sub-text">VIP</span>
                            </div> -->
                        </div>
                    </div>
                    <div style="margin-top: 20px;width: 100%;">
                        <div class="table-responsive" style="margin-top: 20px;width: 100%;">
                            <div id="AdminDashboardPartialView"></div>
                        </div>
                    </div>
                    @* <!-- Button trigger modal -->
                    <button type="button" class="dashboard-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                    class="bi bi-send dashboard-sub-div-icon" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                    <span class="dashboard-button-text">Send Link</span>
                    </button> *@

                    <!--Cancel Case Modal -->
                    <div class="modal fade " id="cancelCaseModal" tabindex="-1" aria-labelledby="cancelCaseModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="saveButtonText fs-5" id="cancelCaseModalLabel">Confirm Cancellation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="CancelCase" asp-controller="AdminDashboard" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <h6><span>Patient Name</span><span class="mx-1">:</span><span style="color:#01bce9;">test test</span></h6>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" asp-for="RequestId" style="display:none;" id="requestId2" />
                                            <select class="custom-select-3 text-secondary dropdownBorder" asp-for="CaseTagId" style="width: 100%;height: 54px;padding:8px;">
                                                <option value="0" style="color:gray !important;">
                                                    <span style="color:gray;">Reason for Cancellation:</span>
                                                </option>
                                                @for (var i = 0; i < Model?.caseTags?.Count; ++i)
                                                {
                                                    <option value="@Model.caseTags[i].CaseTagId">
                                                        <span>@Model.caseTags[i].Name</span>
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-floating login-fields" style="width: 100%;margin-top: 20px;">
                                            <textarea type="text" placeholder="Username" class="form-control"
                                                      style="height: 135px !important;" asp-for="CancelDescription"></textarea>
                                            <label for="floatingInput">Provide Additional Notes</label>
                                            <span asp-validation-for="CancelDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer form-floating mb-3">
                                        <button type="submit" class="saveButton"><span class="saveButtonText">Confirm</span> </button>
                                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Assign Case Modal -->
                    <div class="modal fade " id="assignCaseModal" tabindex="-1" aria-labelledby="assignCaseModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="saveButtonText fs-5" id="assignCaseModalLabel">Assign Request</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="AssignCase" asp-controller="AdminDashboard" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <span class="text-secondary" style="font-size:14px"><strong>To assign this request, search and select another Physician.</strong></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="hidden" asp-for="RequestId" id="requestId" />
                                            <select class="custom-select-6 text-secondary dropdownBorder" id="regionDropdown" style="width: 100%;height: 54px;padding:8px;">
                                                <option value="0" selected hidden><span>Narrow Search by Region</span></option>
                                                @* @foreach (var item in Model.regions)
                                                {
                                                <option value="@item.RegionId"><span>@item.Name</span></option>
                                                } *@
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @*  <input type="" asp-for="PhysicianId" id="physicianId" style="display:none;"/> *@
                                            <select asp-for="PhysicianId" class="custom-select-7 text-secondary dropdownBorder" id="physicianDropdown" style="width: 100%;height: 54px;padding:8px;" onchange="test(this)">
                                                <option value="0" disabled selected hidden><span>Select Physician</span></option>
                                                @*    @foreach (var item in Model.physicians)
                                                {
                                                <option value="@item.PhysicianId">@(item.FirstName + " " + item.LastName)</option>
                                                } *@
                                            </select>
                                        </div>
                                        <div class="form-floating login-fields" style="width: 100%;margin-top: 20px;">
                                            <textarea type="text" placeholder="Description" class="form-control"
                                                      style="height: 135px !important;" asp-for="Description"></textarea>
                                            <label for="floatingInput">Description</label>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer form-floating mb-3">
                                        <button type="submit" class="saveButton"><span class="saveButtonText">Submit</span> </button>
                                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Transfer Case Modal -->
                    <div class="modal fade " id="transferCaseModal" tabindex="-1" aria-labelledby="transferCaseModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="saveButtonText fs-5" id="transferCaseModalLabel">Transfer Request</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="TransferCase" asp-controller="AdminDashboard" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <span class="text-secondary" style="font-size:14px"><strong>To transfer this request, search and select another Physician.</strong></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="hidden" asp-for="RequestId" id="requestId" />
                                            <select class="custom-select-4 text-secondary dropdownBorder" id="regionDropdown2" style="width: 100%;height: 54px;padding:8px;">
                                                <option value="0" disabled selected hidden><span>Narrow Search by Region</span></option>

                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select asp-for="PhysicianId" class="custom-select-5 text-secondary dropdownBorder" id="physicianDropdown2" style="width: 100%;height: 54px;padding:8px;">
                                                <option value="0" disabled selected hidden><span>Select Physician</span></option>
                                            </select>
                                        </div>
                                        <div class="form-floating login-fields" style="width: 100%;margin-top: 20px;">
                                            <textarea type="text" placeholder="Description" class="form-control"
                                                      style="height: 135px !important;" asp-for="Description"></textarea>
                                            <label for="floatingInput">Description</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer form-floating mb-3">
                                        <button type="submit" class="saveButton"><span class="saveButtonText">Submit</span> </button>
                                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--BLOCK Case Modal -->
                    <div class="modal fade " id="blockCaseModal" tabindex="-1" aria-labelledby="blockCaseModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="saveButtonText fs-5" id="blockCaseModalLabel">Confirm Block</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <form asp-action="BlockCase" asp-controller="AdminDashboard" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <h6><span>Patient Name</span><span class="mx-1">:</span><span style="color:#01bce9;">test test</span></h6>
                                        </div>
                                        <div class="form-floating login-fields" style="width: 100%;margin-top: 20px;">
                                            <textarea type="text" placeholder="Username" class="form-control"
                                                      style="height: 135px !important;" asp-for="BlockReason"></textarea>
                                            <label for="floatingInput">Reason for Block Request</label>
                                            <span asp-validation-for="BlockReason" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer form-floating mb-3">
                                        <input type="hidden" asp-for="RequestId" id="requestId4" />
                                        <button type="submit" class="saveButton"><span class="saveButtonText">Confirm</span> </button>
                                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Clear Case Modal -->
                    <div class="modal fade " id="clearCaseModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content" style="border-radius:10px">
                                <div class="modal-body p-5">
                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div class="modalExclamation d-flex justify-content-center align-items-center">
                                                <div class="subModalExclamation d-flex justify-content-center align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                                        <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <h4>Confirmation for clear case</h4>
                                        </div>
                                        <div class="mb-5">
                                            <span class="text-secondary" style="font-size:14px;">Are you sure you want to clear this request?Once clear this request then you are not able to see this request.</span>
                                        </div>
                                        <form asp-action="ClearCase" asp-controller="AdminDashboard" method="post">
                                            <div class="modal-footer form-floating mb-3">
                                                <input type="hidden" asp-for="RequestId" id="requestId9" />
                                                <button type="submit" class="saveButton"><span class="saveButtonText">Clear</span> </button>
                                                <a class="cancelButton textdeconone d-flex justify-content-center align-items-center" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Send agreement Modal -->
                    <div class="modal fade " id="sendAgreementModal" tabindex="-1" aria-labelledby="sendAgreementModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="saveButtonText fs-5" id="sendAgreementModalLabel">Send Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <form asp-action="SendAgreement" asp-controller="AdminDashboard" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            @* <span class="WhosRequest" id="status-text">

                                            @if (Model.requestTypeId == 1)
                                            {
                                            <img src="~/SRS Screen Shorts/radio-checked-patient.svg" id="newState" class="icon-size hide" alt=""/>
                                            @(Model.Requestor)
                                            }
                                            else if (Model.requestTypeId == 2)
                                            {
                                            <img src="~/SRS Screen Shorts/radio-checked-family.svg" id="familyState" class="icon-size hide" alt=""/>
                                            @(Model.Requestor)
                                            }
                                            else if (Model.requestTypeId == 3)
                                            {
                                            <img src="~/SRS Screen Shorts/radio-checked-conceirge.svg" id="conceirgeState" class="icon-size hide" alt=""/>
                                            @(Model.Requestor)
                                            }
                                            else if (Model.requestTypeId == 4)
                                            {
                                            <img src="~/SRS Screen Shorts/radio-checked-business.svg" id="businessState" class="icon-size hide" alt=""/>
                                            @(Model.Requestor)
                                            }
                                            </span> *@
                                        </div>
                                        <div class="mb-3">
                                            <h6 class="text-secondary">To Send Agreement please make sure you are updating the correct contact information below for the responsible party.<h6>
                                        </div>
                                        <div class="form-floating login-fields mb-3" style="width:100%;margin-right:15px;">
                                            <input type="text" class="form-control" id="PhoneNo" placeholder="Phone Number" asp-for="PhoneNo" />
                                            <label for="PhoneNo">Phone Number</label>
                                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInputE" placeholder="Email" asp-for="Email">
                                            <label for="floatingInputE">Email</label>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer form-floating mb-3">
                                        <input type="hidden" asp-for="RequestId" id="requestId11" />
                                        <button type="submit" class="saveButton"><span class="saveButtonText">Send</span> </button>
                                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="main-sub-div-2" class="tabcontent" style="display: none;">
                    <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
                    <!-- <h3>Paris</h3> -->
                    <p>
                        Tab 2: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        //assigncase//for assigncase action
        //here we have to use ajax, because a dropdown is dependant on another dropdown, as after selecting region, we get physians in particular region
        //and we need to load page to get data dynamically from database, to avoid loading, we use ajax
        console.log('before assign case')
        $(document).ready(function () {
            $.ajax({
                url: '/AdminDashboard/FetchRegions',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('.custom-select-6 option:not(:first)').remove();
                    $.each(response, function (index, region) {
                        var option = $('<option></option>')
                            .attr('value', region.regionId)
                            .text(region.name);
                        $('.custom-select-6').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
            window.onpopstate = function () {
                $.ajax({
                    url: '/AdminDashboard/FetchRegions',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        $('.custom-select-6 option:not(:first)').remove();
                        $.each(response, function (index, region) //this region and
                        {
                            var option = $('<option></option>')
                                .attr('value', region.regionId)//this region must be same
                                .text(region.name);
                            $('.custom-select-6').append(option);
                        });
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
            };
        });

        $('#regionDropdown').change(function () {
            var selectedRegion3 = $(this).val();
            console.log(selectedRegion3);
            $.ajax({
                url: '/AdminDashboard/FetchPhysicians',
                type: 'GET',
                data: { id: selectedRegion3 },
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('#physicianDropdown option:not(:first)').remove();
                    $.each(response, function (index, physician) {
                        console.log(physician);
                        var option = $('<option></option>')
                            .attr('value', physician.physicianId)
                            .text(physician.firstName + " " + physician.lastName);
                        $('#physicianDropdown').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        });
        //for cancelcase action
        $(document).ready(function () {
            $.ajax({
                url: '/AdminDashboard/FetchTags',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    $('.custom-select-3 option:not(:first)').remove();
                    $.each(response, function (index, tags) {
                        var option = $('<option></option>')
                            .attr('value', tags.id)
                            .text(tags.name);
                        $('.custom-select-3').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
            window.onpopstate = function () {
                $.ajax({
                    url: '/AdminDashboard/FetchTags',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        $('.custom-select-3 option:not(:first)').remove();
                        $.each(response, function (index, tags) {
                            var option = $('<option></option>')
                                .attr('value', tags.id)
                                .text(tags.name);
                            $('.custom-select-3').append(option);
                        });
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
            };
        });


        var cancelModal = document.getElementById("cancelCaseModal");

        // var span4 = document.getElementsByClassName("close-btn")[3];
        function CancelCase(requestId) {
            console.log(requestId);
            document.getElementById("requestId2").value = requestId;
            cancelModal.style.display = "block";
        };

        // span4.onclick = function () {
        //     cancelModal.style.display = "none";
        // };
        function cancel4() {
            cancelModal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == cancelModal) {
                cancelModal.style.display = "none";
            }
        };

        //blockcase reqid
        const BlockCase = (requestid) => {
            document.getElementById("requestId4").value = requestid;
        }
        //send agreement reqid
        const SendAgreement = (requestid) => {
            document.getElementById("requestId11").value = requestid;
        }


        // var modal3 = document.getElementById("myModal3");
        //var dtySupport = document.getElementById("dty-support");
        // var span3 = document.getElementsByClassName("close-btn")[2];
        function AssignCase(requestId) {
            console.log(requestId);
            document.getElementById("requestId").value = requestId;
            modal3.style.display = "block";
        }

        // for transfer case action
        // here we have to use ajax, because a dropdown is dependant on another dropdown, as after selecting region, we get physians in particular region
        // and we need to load page to get data dynamically from database, to avoid loading, we use ajax
        $(document).ready(function () {
            $.ajax({
                url: '/AdminDashboard/FetchRegions',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('.custom-select-4 option:not(:first)').remove();
                    $.each(response, function (index, region) {
                        console.log(region)
                        var option = $('<option></option>')
                            .attr('value', region.regionId)
                            .text(region.name);
                        $('.custom-select-4').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
            window.onpopstate = function () {
                $.ajax({
                    url: '/AdminDashboard/FetchRegions',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        $('.custom-select-4 option:not(:first)').remove();
                        $.each(response, function (index, region) {
                            var option = $('<option></option>')
                                .attr('value', region.regionId)
                                .text(region.name);
                            $('.custom-select-4').append(option);
                        });
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
            };
        });

        $('#regionDropdown2').change(function () {
            var selectedRegion = $(this).val();
            console.log(selectedRegion)
            $.ajax({
                url: '/AdminDashboard/FetchPhysicians',
                type: 'GET',
                data: { id: selectedRegion },
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('#physicianDropdown2 option:not(:first)').remove();
                    $.each(response, function (index, physician) {
                        console.log("in transfer")
                        console.log(physician)
                        var option = $('<option></option>')
                            .attr('value', physician.physicianId)
                            .text(physician.firstName + " " + physician.lastName);
                        $('#physicianDropdown2').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        });
        console.log('before data table initiate')
        //data table initiate
        $(document).ready(function () {
            $("#dtBasicExample").DataTable();
        });

        //sidebar hamburger
        let sidebarOpen = false;
        function hamburger() {
            console.log('in hamburger')
            if (!sidebarOpen) {
                document.getElementById('sidebar').style.display = "flex";
                document.getElementById('main-sub-div').style.opacity = "0.5";
                document.getElementById('main-sub-div').style.backgroundColor = "rgba(0, 0, 0, 0.1)";
                document.getElementById("defaultOpen2").click();
                sidebarOpen = true;
            } else {
                console.log('hii');
                document.getElementById('sidebar').style.display = "none";
                document.getElementById('main-sub-div').style.opacity = "1";
                document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
                sidebarOpen = false;
            }
        }

        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById('sidebar').style.display = "none";
            document.getElementById('main-div').style.opacity = "1";
            document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
            sidebarOpen = false;
        }
        $.ajax({
            url: `/AdminDashboard/New`,
            type: 'POST',
            dataType: 'html',
            // Pass your data here
            success: function (response) {
                $("#AdminDashboardPartialView").html(response)
            },
            error: function () {
                alert('An error occurred.');
            }
        });
        // document.getElementById("defaultOpen2").click();

        console.log('before changing status')
        //for changing status and focus on status
        const changeStatus = (element) => {
            const states = document.getElementsByClassName("state");
            const current_state = element.classList[1];
            for (let i = 0; i < states.length; ++i) {
                if (states[i].classList.length == 3 && states[i].classList[1] == current_state) {
                    break;
                }
                else if (states[i].classList[1] == current_state) {
                    states[i].classList.add(`${states[i].classList[1]}-active`);
                    document.getElementById(`${states[i].classList[1]}-active`).classList.remove('hide');
                    document.getElementById(`${states[i].classList[1]}`).classList.add('hide');
                    document.getElementById(`${states[i].classList[1]}-img`).classList.remove('hidden');
                }
                else if (states[i].classList.length == 3) {
                    states[i].classList.remove(`${states[i].classList[1]}-active`);
                    document.getElementById(`${states[i].classList[1]}-active`).classList.add('hide');
                    document.getElementById(`${states[i].classList[1]}`).classList.remove('hide');
                    document.getElementById(`${states[i].classList[1]}-img`).classList.add('hidden');
                }
            }

            let name = current_state.split("-").length == 1 ? current_state.split("-")[0] : current_state.split("-")[1];
            let finalName = name.split("State")[0];
            if (finalName == "toclose") {
                document.getElementById("status-text").innerHTML = "(To Close)";
            } else {
                document.getElementById("status-text").innerHTML = `(${finalName.charAt(0).toUpperCase() + finalName.slice(1)})`;
            }
            $.ajax({
                url: `/AdminDashboard/${finalName.charAt(0).toUpperCase() + finalName.slice(1)}`,
                type: 'POST',
                dataType: 'html',
                // Pass your data here
                success: function (response) {
                    $("#AdminDashboardPartialView").html(response)
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }

        // filter by search

        const searchFilter = (search) => {
            const states = document.getElementsByClassName("req-filter")
            console.log(states)
            for (let i = 0; i < states.length; ++i) {
                console.log("Hello in for")
                if (states[i].classList.length == 3) {
                    console.log("Hello in if")
                    $.ajax({
                        url: `/AdminDashboard/${document.getElementById("status-text").innerHTML.substring(1, document.getElementById("status-text").innerHTML.length - 1)}`,
                        type: 'POST',
                        dataType: 'html',
                        data: { search: search.value, region: document.getElementById("region").value, requestor: states[i].classList[1] },
                        // Pass your data here
                        success: function (response) {
                            $("#AdminDashboardPartialView").html(response)
                        },
                        error: function () {
                            alert('An error occurred.');
                        }
                    });
                }
            }
        }

        const test = (element) => {
            console.log(element.value)
        }

        const ClearCase = (id) => {
            document.getElementById("requestId9").value = id
        }


        function oncheck() {
            var check = document.getElementById('checkall').checked;
            if (check) {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = true;
                }
            } else {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = false;
                }
            }
            console.log(check);
        }

        // filter based on all patient .....

        const changeRequestor = (element) => {
            const states = document.getElementsByClassName("req-filter")
            const current_state = element.classList[1]
            for (let i = 0; i < states.length; ++i) {
                if (states[i].classList.length == 3 && states[i].classList[1] == current_state) {
                    console.log('Hi')
                    break;
                }
                else if (states[i].classList[1] == current_state) {
                    states[i].classList.add('filter-active')
                }
                else if (states[i].classList.length == 3) {
                    states[i].classList.remove('filter-active')
                }
            }
            //add border when clicked
            for (var i = 0; i < states.length; i++) {
                states[i].classList.remove('filter-active');
            }
            // Add the active class to the clicked element
            element.classList.add('filter-active');


            //?????
            // document.getElementById("partial-container").style.display = "none";
            // document.getElementsByClassName("loader-container")[0].style.display = "flex";
            console.log(`/AdminDashboard/${document.getElementById("status-text").innerHTML.substring(1, document.getElementById("status-text").innerHTML.length - 1)}`)
            $.ajax({
                url: `/AdminDashboard/${document.getElementById("status-text").innerHTML.substring(1, document.getElementById("status-text").innerHTML.length - 1)}`,
                type: 'POST',
                dataType: 'html',
                data: { requestor: current_state, search: document.getElementById("search").value, region: document.getElementById("region").value },
                // Pass your data here
                success: function (response) {
                    // document.getElementsByClassName("loader-container")[0].style.display = "none";
                    // document.getElementById("partial-container").style.display = "block";
                    $("#AdminDashboardPartialView").html(response)
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }

        //?????

        //for creating countrywise phone format
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            innerHeight: 1,
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });




        // toggleDropdown
        // function toggleDropdown() {
        //     var x = document.getElementById("myDIV");
        //     if (x.style.display === "none") {
        //         x.style.display = "block";
        //     } else {
        //         x.style.display = "none";
        //     }
        // }

        // let isdropdownactive = false;

        // function toggledropdown() {
        //     const dropdown = document.queryselector('.dropdown');
        //     isdropdownactive = !isdropdownactive;
        //     dropdown.classlist.toggle('active');
        // }
        // document.addeventlistener('click', (event) => {
        //     const dropdown = document.queryselector('.dropdown');
        //     if (isdropdownactive && !dropdown.contains(event.target)) {
        //         isdropdownactive = false;
        //         dropdown.classlist.remove('active');
        //     }
        // });
        // $(document).ready(function () {
        //     $("#dtbasicexample").datatable();
        // });

        function toggleDropdown(event) {
            var dropdownContent = event.target.nextElementSibling;
            var requestId = dropdownContent.getAttribute("data-request-id");

            // Hide all dropdowns
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                if (dropdowns[i].getAttribute("data-request-id") != requestId) {
                    dropdowns[i].classList.add("hidden");
                }
            }

            // Toggle the visibility of the current dropdown
            dropdownContent.classList.toggle("hidden");
        }
        //endtoggledropdown


        window.onload = function checkingTheme() {
            try {
                let themeCheck = localStorage.getItem('theme');
                if (themeCheck == null || themeCheck == 'light') {
                    document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                    // document.getElementById('main-sub-div').style.backgroundColor = "white";
                    document.getElementById('body').style.backgroundColor = "#f5f5f5";
                    document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
                } else {
                    document.getElementById('main-div').style.backgroundColor = "black";
                    // document.getElementById('main-sub-div').style.backgroundColor = "black";
                    document.getElementById('body').style.backgroundColor = "black";
                    document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
                }
            } catch (error) {
                console.log('no themes decided yet');
            }
        }
        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                document.getElementById('main-div').style.backgroundColor = "black";
                // document.getElementById('main-sub-div').style.backgroundColor = "black";
                document.getElementById('body').style.backgroundColor = "black";
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');  
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            } else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                // document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('body').style.backgroundColor = "#f5f5f5";
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
        }


    </script>

</div>
