@using HalloDoc.DataLayer.ViewModels.AdminViewModels
@model ViewUploadViewModel;
@{
    ViewData["Title"] = "Close Case";
}
@section Styles {
    <link href="~/css/viewDoc.css" rel="stylesheet" type="text/css" />
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<partial name="Toast" />
<partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
<hr class="mb-0 mt-0 d-none d-md-block horizontal-line">
<partial name="AdminDashboardNavbar" />
<div class="maindiv container d-flex flex-column justify-content-center">
    <div class="firstdiv d-flex justify-content-between align-items-center p-3">
        <h3>Close Case</h3>
        <div class="btn btn-primary backbutton mb-3 mt-3">
            <a class="textdeco" asp-controller="AdminDashboard" asp-action="AdminDashboard">
                <span class="textback" style="color:#0dcaf0;">&lt Back</span>
            </a>
        </div>
    </div>

    <div class="container shadow p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="h6 mb-3 text-secondary">Patient Name</div>
                <div class="mb-3">
                    <h4 style="color: #00ccff;font-size: 20px;font-weight: 500;">@Model.patient_name <span style="color: gray;font-weight: 400;font-size: 15px;"> (@Model.confirmation_number) </span></h4>
                </div>
            </div>
            <div class="btn btn-primary backbutton mb-3 mt-3 d-none d-md-block">
                <span class="textback" style="color:#0dcaf0;">Create Invoice Through Quickbooks</span>
            </div>
        </div>
        <div class="btn btn-primary backbutton mb-3 mt-3 d-block d-md-none">
            <span class="textback" style="color:#0dcaf0;">Create Invoice Through Quickbooks</span>
        </div>
        <div class="seconddiv mb-3">
            <h5>Documents</h5>
        </div>
        <div class="d-block d-md-none">
            @foreach (var item in Model.requestWiseFiles)
            {
                <hr />
                <div class="d-flex align-items-center mb-3">
                    <input class="checkboxes" type="checkbox" />
                    <div class="file-icon ms-2 ">
                        <span class="filename">@item.FileName</span>
                    </div>
                </div>
                <div class="mb-3">@item.CreatedDate</div>
                <div class="d-flex ">
                    <a class="iconimg d-flex justify-content-center align-items-center" href="~/uploads/@item.FileName" download style="border: 1px solid #00ccff; padding:5px;margin-right:5px;border-radius:5px;text-decoration:none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0dcaf0" class="bi bi-cloud-download" viewBox="0 0 16 16">
                            <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                            <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                        </svg>
                    </a>
                    <a class="iconimg d-flex justify-content-center align-items-center" href="~/uploads/@item.FileName" download style="border: 1px solid #00ccff; padding:5px;margin-right:5px;border-radius:5px;text-decoration:none">
                        @* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0dcaf0" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg> *@
                        <div class="d-flex align-items-center">
                            <i class="material-icons">delete_forever</i>
                            <span class="ml-2">All</span>
                        </div>
                    </a>
                </div>

                <hr />
            }

        </div>


        <div class="d-none d-md-block">
            <table class="table">
                <thead>
                    <tr class="table-light htable" style="background-color: #ededed !important;">
                        <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;width: 25%;"></th>
                        <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;width: 25%;">Upload Date <span class="mx-1"><strong>&uarr;</strong></span></th>
                        <th scope="col" style="color: rgb(73, 73, 73);font-weight:500;width: 15%;">Actions</span></th>
                    </tr>
                </thead>
                @foreach (var item in Model.requestWiseFiles)
                {
                    <tr>
                        <td class="bg-white">
                            <div class="file-icon">
                                <span class="filename">@item.FileName</span>
                            </div>
                        </td>
                        <td class="bg-white">
                            @item.CreatedDate
                            @* .ToString("MMMM dd,yyyy") *@
                        </td>
                        <td class="bg-white">
                            <div class="d-flex ">
                                <a class="iconimg d-flex justify-content-center align-items-center" href="~/uploads/@item.FileName" download style="border: 1px solid #00ccff; padding:5px;margin-right:5px;border-radius:5px;text-decoration:none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0dcaf0" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                        <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                                    </svg>
                                </a>
                                <a class="iconimg d-flex justify-content-center align-items-center" href="~/uploads/@item.FileName" download style="border: 1px solid #00ccff; padding:5px;margin-right:5px;border-radius:5px;text-decoration:none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0dcaf0" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <hr />
                }
            </table>


        </div>
        <header class="h5 mb-3 ">Patient Information</header>
        <form asp-controller="AdminDashboard" asp-action="CloseCase" enctype="multipart/form-data" method="post" class="h-100  ps-3 pt-3 pe-3 g-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="name" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName" disabled>
                        <label for="floatingInput1">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="name" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName" disabled>
                        <label for="floatingInput2">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="dob" asp-for="DOB" disabled>
                        <label for="dob">Date of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="PhoneNumber" placeholder="PhoneNumber" disabled asp-for="PhoneNumber" />
                                <label for="PhoneNumber">Phone Number</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-phone-vibrate relativePhone" viewBox="0 0 16 16">
                                    <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z" />
                                    <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2M1.599 4.058a.5.5 0 0 1 .208.676A7 7 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A8 8 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208m12.802 0a.5.5 0 0 1 .676.208A8 8 0 0 1 16 8a8 8 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A7 7 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676M3.057 5.534a.5.5 0 0 1 .284.648A5 5 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A6 6 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284m9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8s-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8s-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class=" d-flex justify-content-center align-items-center" style="border:1px solid #0bb6d0;height:58px;border-radius:5px;">
                                <a id="call-button" style="text-decoration:none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0bb6d0" class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="RequestId" value="@Model.RequestId" style="display:none;" />
                        <input type="email" placeholder="Email" class="form-control" id="email" disabled asp-for="Email" />
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <input asp-for="RequestId" class="hide" />
                <div class="form-button" id="edit-div9">
                    <a class="d-flex justify-content-center align-items-center" id="submit-button-2" style="margin-right:12px;">Edit</a>
                    <button type="submit" class="d-flex justify-content-center align-items-center" id="close-case-button" style="color: #0dcaf0!important;background-color:white;">Close Case</button>
                </div>
                <div id="submit-div" class="hide">
                    <a asp-action="CloseCaseSaveBtn" asp-controller="AdminDashboard" asp-route-requestId="@Model.RequestId" id="submit-button-4"
                       style="border:none; margin-right:12px;" class="d-flex justify-content-center align-items-center">
                        Save</a>
                    <a id="submit-button-3" style="border:1px solid #0dcaf0;border-radius:5px;cursor:pointer;">Cancel</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        //there are 2 submit so putting click event listner on close case to submit form
        document.getElementById("close-case-button").addEventListener("click", function (event) {
            event.preventDefault(); // prevent the button from submitting the form the default way

            // submit the form programmatically
            document.getElementById("myForm").submit();
        });
        // edit,save,cancel
        document.getElementById('submit-button-2').onclick = function () {
            document.getElementById('edit-div9').style.display = "none";
            document.getElementById('submit-div').style.display = "flex";
            var classes = document.getElementsByClassName('form-control');
            for (var i = 3; i < 5; i++) {
                classes[i].removeAttribute('disabled');
            }
            var classes = document.getElementsByClassName('hide');
            classes[0].removeAttribute('hide');

        }
        //cancel
        document.getElementById('submit-button-3').onclick = function () {
            document.getElementById('edit-div9').style.display = "flex";
            document.getElementById('submit-div').style.display = "none";
            var classes = document.getElementsByClassName('form-control');
            for (var i = 3; i < 5; i++) {
                classes[i].setAttribute('disabled', 'disabled');
            }
            var classes = document.getElementsByClassName('hide');
            classes[0].setAttribute('hide');
            location.reload();
        }
        //save
        document.getElementById('submit-button-4').onclick = function () {
            document.getElementById('edit-div9').style.display = "flex";
            document.getElementById('submit-div').style.display = "none";
            var classes = document.getElementsByClassName('form-control');
            for (var i = 3; i < 5; i++) {
                classes[i].setAttribute('disabled', 'disabled');
            }
            var classes = document.getElementsByClassName('hide');
            classes[0].setAttribute('hide');
            location.reload();
        }


        function oncheck() {
            var check = document.getElementById('checkall').checked;
            if (check) {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = true;
                }
            } else {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = false;
                }
            }
            console.log(check);
        }
        function downloadall() {
            var classes = document.getElementsByClassName('checkboxes');

            var count = 0;
            for (var i = 0; i < classes.length; i++) {
                if (classes[i].checked == true) {
                    document.getElementsByClassName('link')[i].click();
                } else {
                    count++;
                }
            }
            if (count == classes.length) {
                alert('No checkboxes are ticked');
            }

        }
        // var check = document.getElementById('checked').checked;
        // var allcheckboxes = document.getElementsByClassName('checkboxes');
        // if (check) {
        //     for (var i = 0; i < allcheckboxes.length; i++) {
        //         allcheckboxes[i].checked = true;
        //     }
        // } else {
        //     for (var i = 0; i < allcheckboxes.length; i++) {
        //         allcheckboxes[i].checked = false;
        //     }
        // }
        // console.log('hello');
        var trial = document.getElementsByClassName("appdata");
        for (var i = 0; i < trial.length; i++) {
            var element = trial[i];
            var dataFromModel = (element.getAttribute("data-obj"));
            var extension = dataFromModel.split(".")[dataFromModel.split(".").length - 1];
            if (extension == 'png' || extension == 'jpg' || extension == 'jpeg') {
                element.classList.add('hide');
                document.getElementsByClassName('simpleimage')[i].classList.remove('hide');
            } else if (extension == 'xlsx') {
                element.classList.add('hide');
                document.getElementsByClassName('excel')[i].classList.remove('hide');
            }
        }
        document.getElementById('upload-button').addEventListener('click', hidebutton);
        function hidebutton() {
            document.getElementById('upload-button').style.display = "none";
        }
        //<i class="bi bi-file-earmark-pdf-fill" > </i>
        //<i class="bi bi-file-earmark-spreadsheet-fill" > </i>
        console.log('hii');

        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();

        function choose_file() {
            document.getElementById('file-input-button').addEventListener('change', getFileName);
        }
        const getFileName = (event) => {
            const files = event.target.files;
            const fileName = files[0].name;
            //document.getElementById('upload-button').disabled = false;

            document.getElementById('select-file-text').innerHTML = fileName;
            document.getElementById('upload-button').style.display = "flex";
            var uploadtext = document.getElementById('upload-text').innerHTML;
            if (uploadtext === 'Choose File') {
                document.getElementById('upload-text').innerHTML = "Change File";
            }
            document.getElementById('delete-icon').style.display = "block";

        }
        // var modal = document.getElementById("myModal");

        // var btn = document.getElementById("submit-button");

        // var span = document.getElementsByClassName("close")[0];
        // var span2 = document.getElementById("close-icon");


        // btn.onclick = function () {
        //     modal.style.display = "flex";
        // }
        // span.onclick = function () {
        //     modal.style.display = "none";
        // }
        // span2.onclick = function () {
        //     modal.style.display = "none";
        // }
        // window.onclick = function (event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }
        // let sidebarOpen = false;
        // function hamburger() {
        //     if (!sidebarOpen) {
        //         console.log('hi');
        //         document.getElementById('sidebar').style.display = "flex";
        //         document.getElementById('main-div').style.opacity = "0.5";
        //         document.getElementById('main-div').style.backgroundColor = "rgba(0, 0, 0, 0.1)";
        //         document.getElementById("defaultOpen2").click();

        //         // document.getElementById('main-sub-div').style.backgroundColor = "rgba(0, 0, 0, 0.1)";
        //         sidebarOpen = true;
        //     } else {
        //         console.log('hii');
        //         document.getElementById('sidebar').style.display = "none";
        //         document.getElementById('main-div').style.opacity = "1";
        //         document.getElementById('main-div').style.backgroundColor = "#f5f5f5";

        //         sidebarOpen = false;
        //     }
        // }

        // document.getElementById("defaultOpen2").click();
        // const phoneInputField = document.querySelector("#phone");
        // const phoneInput = window.intlTelInput(phoneInputField, {
        //     utilsScript:
        //         "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        // });
        // window.onload = function checkingTheme() {
        //     try {
        //         let themeCheck = localStorage.getItem('theme');
        //         if (themeCheck == null || themeCheck == 'light') {
        //             document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
        //             // document.getElementById('main-sub-div').style.backgroundColor = "white";
        //             document.getElementById('body').style.backgroundColor = "#f5f5f5";
        //             document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
        //             document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
        //         } else {
        //             document.getElementById('main-div').style.backgroundColor = "black";
        //             // document.getElementById('main-sub-div').style.backgroundColor = "black";
        //             document.getElementById('body').style.backgroundColor = "black";
        //             document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
        //             document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
        //         }
        //     } catch (error) {
        //         console.log('no themes decided yet');
        //     }
        // }
        // function changeTheme() {
        //     let theme = localStorage.getItem('theme');
        //     if (theme == null || theme == 'light') {
        //         localStorage.setItem('theme', 'dark');
        //         document.getElementById('main-div').style.backgroundColor = "black";
        //         // document.getElementById('main-sub-div').style.backgroundColor = "black";
        //         document.getElementById('body').style.backgroundColor = "black";
        //         document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
        //         document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
        //     } else if (theme == 'dark') {
        //         localStorage.setItem('theme', 'light');
        //         document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
        //         // document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
        //         document.getElementById('body').style.backgroundColor = "#f5f5f5";
        //         document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
        //         document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
        //     }
        // }
    </script>
</div>
