@using HalloDoc.DataLayer.ViewModels.AdminViewModels
@model ViewCaseModel;
@{
    ViewData["Title"] = "View-Case";
}
@section Styles {
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
    @* <link href="~/css/viewcase.css" rel="stylesheet" type="text/css" /> *@
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<div>

    <div class="shadow header-nav-container">
        <partial name="Toast" />
        <partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
    </div>
    <hr class="mb-0 mt-0 d-none d-md-block horizontal-line">
    <partial name="AdminDashboardNavbar" />
    <div class="maindiv viewcaseMaindiv container-fluid d-flex flex-column justify-content-center  " style="background-color:#f5f5f5;">
        <div class="firstdiv d-flex justify-content-between align-items-center">
            <form asp-action="viewcase" asp-controller="AdminDashboard" method="post">
                <input type="hidden" asp-for="RequestId" id="requestId" />
                @if (Model.Status.Equals("Reserved"))
                {
                    @if (Model.Requestor == "Patient")
                    {
                        <h3>
                            View Reservation
                            <span class="WhosRequest PatientRequest">
                                @(Model.Requestor)
                            </span>
                        </h3>
                    }
                    else if (Model.Requestor == "Business")
                    {
                        <h3 class="d-flex">
                            View Reservation
                            <div style="width:200px;">
                                <span class="WhosRequest BusinessRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }
                    else if (Model.Requestor == "Family")
                    {
                        <h3 class="d-flex">
                            View Reservation
                            <div style="width:200px;">
                                <span class="WhosRequest FamilyRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }
                    else if (Model.Requestor == "Concierge")
                    {
                        <h3 class="d-flex">
                            View Reservation
                            <div style="width:200px;">
                                <span class="WhosRequest ConciergeRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }
                }
                @* <h3 class="d-flex" >
                View Reservation
                <div style="width:200px;">
                <span class="WhosRequest" id="status-text">
                @(Model.Requestor)
                </span>
                </div>
                </h3> *@
                @if (Model.Status != "Reserved")
                {
                    @if (Model.Requestor == "Patient")
                    {
                        <h3>
                            New Request
                            <span class="WhosRequest PatientRequest">
                                @(Model.Requestor)
                            </span>
                        </h3>
                    }
                    else if (Model.Requestor == "Family/Friend")
                    {
                        <h3 class="d-flex">
                            New Request
                            <div style="width:200px;">
                                <span class="WhosRequest FamilyRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }
                    else if (Model.Requestor == "Business")
                    {
                        <h3 class="d-flex">
                            New Request
                            <div style="width:200px;">
                                <span class="WhosRequest BusinessRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }

                    else if (Model.Requestor == "Concierge")
                    {
                        <h3 class="d-flex">
                            New Request
                            <div style="width:200px;">
                                <span class="WhosRequest ConciergeRequest">
                                    @(Model.Requestor)
                                </span>
                            </div>
                        </h3>
                    }
                }
            </form>
            <div class="btn cancelButton mb-3 mt-3 d-flex justify-content-center align-items-center" style="background-color:transparent;">
                <a class="textdeconone" asp-controller="AdminDashboard" asp-action="AdminDashboard">
                    <span class="cancelButtonText">&lt Back</span>
                </a>
            </div>
        </div>
        <div class="content shadow p-3 mb-3" style="background-color:white;">
            <form asp-action="ViewCase" asp-controller="AdminDashboard" method="post">
                <div class="h5 mb-3">Patient Information</div>
                <div class="mb-3">
                    <h6 style="color: gray;font-weight: 400;font-size: 15px;">Confirmation Number </h6>
                    <span class="h4" style="color: #00ccff;font-size: 20px;font-weight: 500;"> (@Model.ConfirmationNo) </span>
                </div>
                @* <div class="form-floating mb-3 p-0">
                <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                <textarea class="text-area form-control" id="exampleFormControlTextarea1" rows="6" asp-for="PatientNotes" disabled></textarea>
                <label class="color" for="floatingInput">Patient Notes</label>
                </div> *@
                <div class="form-floating" style="width: 100%;margin-top: 20px;">
                    <textarea type="text" placeholder="Username" class="form-control" id="username-input"
                              style="height: 135px !important;" asp-for="PatientNotes" disabled></textarea>
                    <label for="username-input" class="labels">Patient Notes</label>
                </div>
                <hr class="hrdashed" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName" disabled>
                            <label for="floatingInput1">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName" disabled>
                            <label for="floatingInput2">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dob" asp-for="DOB" disabled>
                            <label for="dob">Date of Birth</label>
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="phone" disabled asp-for="PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div style="border:1px solid #0bb6d0;height:58px;border-radius:5px;" class=" form-control d-flex justify-content-center align-items-center mb-3">
                            <a id="call-button" style="text-decoration:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0bb6d0" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" asp-for="RequestId" value="@Model.RequestId" style="display:none;" />
                            <input type="email" placeholder="Email" class="form-control" id="email" disabled asp-for="Email" />
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            @if (Model.Status.Equals("Reserved"))
                            {
                                <div class="form-button mb-3 me-3 " id="edit-div" style="width:58px;background-color:#0dcaf0;border:1px solid #0dcaf0;color:white; margin-right:17px;border: 1px solid #0dcaf0;border-radius: 5px;padding: 14px;">
                                    <a id="submit-button-2">Edit</a>
                                </div>
                                <div id="submit-div" class="hide">
                                    <button class="me-3 saveButton" type="submit" id="submit-button-4" style="height:54px;width:75px">
                                        <span class="saveButtonText">Save</span>
                                    </button>
                                    <a id="submit-button-3" class="backbutton textdeconone" style="border: 1px solid #0dcaf0;border-radius: 5px;color: #0dcaf0;padding: 14px;">Cancel</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <header class="h5 mb-3">Location Information</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" placeholder="Region" class="form-control" id="region" disabled asp-for="region" />
                            <label for="region">Region</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput5" disabled asp-for="BusinessAddress" />
                            <label for="floatingInput5">BusinessAddress</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div style="border:1px solid #0bb6d0;height:58px;border-radius:5px;" class="map form-control d-flex justify-content-center align-items-center mb-3">
                            <a id="map-button" style="text-decoration:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0bb6d0" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" placeholder="Room" class="form-control" id="room" disabled asp-for="Room" />
                            <label for="room">Room</label>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div class="d-flex justify-content-end align-items-center  " style="display:flex!important;">
                        @if (Model.Status != "Reserved")
                        {
                            <div class="btn saveButton me-3 mb-3" style="width:110px!important;">
                                <a class="textdeconone " data-bs-toggle="modal" data-bs-target="#assignCaseModal" onclick="AssignCase(@Model.RequestId)">
                                    <span class="saveButtonText">Assign</span>
                                </a>
                            </div>
                        }
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn saveButton me-3 mb-3 d-flex justify-content-center align-items-center" style="width:110px!important;">
                                <a class="textdeconone" asp-controller="AdminDashboard" asp-action="ViewNotes">
                                    <span class="saveButtonText">View Notes</span>
                                </a>
                            </div>
                            <a asp-action="AdminDashboard" asp-controller="AdminDashboard" class="btn redCancelButton mb-3 d-flex justify-content-center align-items-center" style="width:110px!important;background-color:#d72d31;">
                                <span class="saveButtonText">Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" d-block d-md-none">
                    
                    <div class="d-flex justify-content-end align-items-center">
                        @if (Model.Status != "Reserved")
                        {
                            <div>
                                <button class="btn saveButton me-3 mb-3" style="width:70px!important;">
                                    <div class="textdeconone " data-bs-toggle="modal" data-bs-target="#assignCaseModal" onclick="AssignCase(@Model.RequestId)">
                                        <span class="saveButtonText">Assign</span>
                                    </div>
                                </button>
                            </div>
                        }
                        <div class="btn saveButton me-3 mb-3 d-flex justify-content-center align-items-center" style="width:95px!important;">
                            <a class="textdeconone" asp-controller="AdminDashboard" asp-action="ViewNotes">
                                <span class="saveButtonText">View Notes</span>
                            </a>
                        </div>
                        <div class="btn redCancelButton mb-3 d-flex justify-content-center align-items-center" style="width:70px!important;background-color:#d72d31;height:40px;">
                            <a class="textdeconone" asp-controller="AdminDashboard" asp-action="AdminDashboard">
                                <span class="saveButtonText">Cancel</span>
                            </a>
                        </div>
                        @* <div class="btn redCancelButton mb-3 d-flex justify-content-center align-items-center" style="width:70px!important;background-color:#d72d31;">
                            <a asp-action="AdminDashboard" asp-controller="AdminDashboard" class="textdeconone">
                                <span class="saveButtonText">Cancel</span>
                            </a>
                        </div> *@

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Assign Case Modal -->
    <div class="modal fade" id="assignCaseModal" tabindex="-1" aria-labelledby="assignCaseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-0" style="width:100%;">
                <div class="modal-header" style="width:100%;">
                    <h1 class="saveButtonText fs-5" id="assignCaseModalLabel">Assign Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="viewCaseAssignModal" asp-controller="AdminDashboard" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <span class="text-secondary" style="font-size:14px"><strong>To assign this request, search and select another Physician.</strong></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="hidden" asp-for="RequestId" id="requestId" />
                            <select class="custom-select-6 text-secondary dropdownBorder" id="regionDropdown" style="width: 100%;height: 54px;padding:8px;">
                                <option value="0" selected hidden><span>Narrow Search by Region</span></option>
                                @* @foreach (var item in Model.regions)
                                {
                                <option value="@item.RegionId"><span>@item.Name</span></option>
                                } *@
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            @*  <input type="" asp-for="PhysicianId" id="physicianId" style="display:none;"/> *@
                            <select asp-for="PhysicianId" class="custom-select-7 text-secondary dropdownBorder" id="physicianDropdown" style="width: 100%;height: 54px;padding:8px;" onchange="test(this)">
                                <option value="0" disabled selected hidden><span>Select Physician</span></option>
                                @*    @foreach (var item in Model.physicians)
                                {
                                <option value="@item.PhysicianId">@(item.FirstName + " " + item.LastName)</option>
                                } *@
                            </select>
                        </div>
                        <div class="form-floating login-fields" style="width: 100%;margin-top: 20px;">
                            <textarea type="text" placeholder="Description" class="form-control"
                                      style="height: 135px !important;" asp-for="Description"></textarea>
                            <label for="floatingInput">Description</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer form-floating mb-3">
                        <button type="submit" class="saveButton"><span class="saveButtonText">Save</span> </button>
                        <button class="cancelButton" data-bs-dismiss="modal" onclick="cancel4()"><span class="cancelButtonText">Cancel</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        //date validation
        const inputDate = document.getElementById('dob');
        const today = new Date().toISOString().split('T')[0];
        inputDate.setAttribute('max', today);
        //assigncase//for assigncase action
        $(document).ready(function () {
            $.ajax({
                url: '/AdminDashboard/FetchRegions',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('.custom-select-6 option:not(:first)').remove();
                    $.each(response, function (index, region) {
                        var option = $('<option></option>')
                            .attr('value', region.regionId)
                            .text(region.name);
                        $('.custom-select-6').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
            window.onpopstate = function () {
                $.ajax({
                    url: '/AdminDashboard/FetchRegions',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        $('.custom-select-6 option:not(:first)').remove();
                        $.each(response, function (index, region) //this region and
                        {
                            var option = $('<option></option>')
                                .attr('value', region.regionId)//this region must be same
                                .text(region.name);
                            $('.custom-select-6').append(option);
                        });
                    },
                    error: function () {
                        alert('An error occurred.');
                    }
                });
            };
        });

        $('#regionDropdown').change(function () {
            var selectedRegion3 = $(this).val();
            console.log(selectedRegion3);
            $.ajax({
                url: '/AdminDashboard/FetchPhysicians',
                type: 'GET',
                data: { id: selectedRegion3 },
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    $('#physicianDropdown option:not(:first)').remove();
                    $.each(response, function (index, physician) {
                        console.log(physician);
                        var option = $('<option></option>')
                            .attr('value', physician.physicianId)
                            .text(physician.firstName + " " + physician.lastName);
                        $('#physicianDropdown').append(option);
                    });
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        });
        //for creating countrywise phone format
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            innerHeight: 1,
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        // edit,save,cancel
        document.getElementById('submit-button-2').onclick = function () {
            document.getElementById('edit-div').style.display = "none";
            document.getElementById('submit-div').style.display = "flex";
            var classes = document.getElementsByClassName('form-control');
            for (var i = 4; i < 7; i++) {
                classes[i].removeAttribute('disabled');
            }
            var classes = document.getElementsByClassName('hide');
            classes[0].removeAttribute('hide');

        }

        document.getElementById('submit-button-3').onclick = function () {
            document.getElementById('edit-div').style.display = "flex";
            document.getElementById('submit-div').style.display = "none";
            var classes = document.getElementsByClassName('form-control');
            for (var i = 3; i < 5; i++) {
                classes[i].setAttribute('disabled', 'disabled');
            }
            var classes = document.getElementsByClassName('hide');
            classes[0].setAttribute('hide');
            location.reload();
        }
        // to print req type
        const changeStatus = (element) => {
            const states = document.getElementsByClassName("state");
            const current_state = element.classList[1];
        }
        let name = current_state.split("-").length == 1 ? current_state.split("-")[0] : current_state.split("-")[1];
        let finalName = name.split("State")[0];
        if (finalName == "toclose") {
            document.getElementById("status-text").innerHTML = "(To Close)";
        } else {
            document.getElementById("status-text").innerHTML = `(${finalName.charAt(0).toUpperCase() + finalName.slice(1)})`;
        }

        //sidebar hamburger
        let sidebarOpen = false;
        function hamburger() {
            if (!sidebarOpen) {
                document.getElementById('sidebar').style.display = "flex";
                document.getElementById('main-div').style.opacity = "0.5";
                document.getElementById('main-div').style.backgroundColor = "rgba(0, 0, 0, 0.1)";
                sidebarOpen = true;
            } else {
                console.log('hii');
                document.getElementById('sidebar').style.display = "none";
                document.getElementById('main-div').style.opacity = "1";
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                sidebarOpen = false;
            }
        }




    </script>
</div>